#container {
	margin: 10px 50px 10px 50px;
	padding: 50px 75px 50px 75px;
	border-radius: 15px;
	background-color: #a4b9db;
	text-align: center;
}

h3{text-align: left;}
p{text-align: right;}
body {background-color: #556a8c;}
